name: Deploy Frontend

on:
  push:
    branches: [ main ]

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        working-directory: ./frontend
        run: npm ci --legacy-peer-deps

      - name: Build Frontend
        working-directory: ./frontend
        run: npm run build
        env:
           NEXT_PUBLIC_API_URL: "https://api.man2man.xyz"

      - name: Deploy via SFTP
        uses: wlxcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: ${{ secrets.FTP_USERNAME }}
          server: ${{ secrets.FTP_SERVER }}
          password: ${{ secrets.FTP_PASSWORD }}
          local_path: './frontend/out/*'
          remote_path: '/home/zizocom/public_html'
          sftp_only: true
          delete_remote_files: true
